<div class="home-page">
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-1-of-2">
          <div class="hero__image">
            <p>.</p>
            <img src="/assets/bumbag-model-1.png"/>
          </div>
        </div>
        <div class="col-1-of-2">
          <div class="hero__description">
            <div class="hero__description--title">
              <h1>Shop the Himalayan look</h1>
            </div>
            <div class="hero__description--text">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
