.white-btn {
  background: #fff;
  color: #000;
  padding: 1.25rem 3rem;
  text-decoration: none;
  border-radius: 2px;
  font-size: $font-small;
  border: 1px solid;
  display: inline-block;
  margin-top: 1rem;

  &:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
}

.register-btn {
    padding: 1.5rem 4rem;
    border: 0;
    background: #6cbb6c;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
}
