// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-page {
  .hero {
    background-color: #0C8368;

    &__image {
      img {
        max-width: 30vw;
        background: #fff;
        position: absolute;
        bottom: 0;
      }
    }

    &__description {
      &--title {
        margin-top: 10rem;
        text-align: center;
        font-size: 2rem;
        color: #fff;
      }
    }
  }
}
