// Place all the styles related to the ProductList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.products-list {
  .product-preview {
    margin-top: 5rem;

    &__image {
     img {
       max-width: -webkit-fill-available;
     }
    }

    &__price {
      font-weight: 600;
      margin-top: 1rem;
    }

    &__title {
      margin-top: 1rem;
    }
  }
}
