<div class="products-list">
  <h1>Products List</h1>

    <% @products.each do |product| %>
      <div class="product-preview">
        <p class="product-preview__title"><%= product.title %></p>
        <p class="product-preview__title"><%= product.price %></p>
      </div>
    <% end %>

</div>
