<div class="products-list">
  <h1>Products List</h1>

    <% row_started = 0; %>

    <% @products.each_with_index do |product, index| %>
      <% if (index + 1) % 3 === 0 || index === 0%>
        <% row_started = index %>
        <div class="row">
      <% end %>

        <div class="col-1-of-3 product-preview">
          <% if product.main_image.present? %>
            <div class="product-preview__image"><%= image_tag(product.main_image) %></div>
          <% end %>
          <% if product.url %>
            <p class="product-preview__title"><%= link_to product.title, p_path(product.url) %></p>
            <% end %>
          <p class="product-preview__price">£<%= product.price %></p>
        </div>

      <% if (row_started + 3 === index) || index >= @products.count - 1; %>
        </div>
      <% end %>
    <% end %>
</div>
