<div class="navbar">
  <div class="container">
    <ul class="navbar__list">
        <li class="navbar__logo">Himalayan Wear</li>
        <li>Accessories</li>
        <li>Login</li
    </ul>
  </div>
</div>
