<div class="navbar">
  <ul class="navbar__list">
    <li class="navbar__logo">Himalayan Wear</li>
    <li><%= link_to "Home", home_path  %></li>
    <li>Products</li>
    <li>Login</li>
  </ul>
</div>
