<div class="navbar">
  <div class="container">
    <ul class="navbar__list">
        <li class="navbar__logo">
        <%= link_to root_path do %>
            <%= image_tag "/assets/logo.png", alt: 'logo of himalayan wear'%>
        <% end %>
        </li>
        <li>Accessories</li>
        <% if session[:user_id] %>
          <li>My Account</li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
    </ul>
  </div>
</div>
